<nav class="navbar fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><i class="fa fa-rebel"></i> Asset Management System</a>
    <form class="form-inline" style="color:whitesmoke">
        <label for="email" class="col-md-1 col-form-label">Email</label>
        <input class="form-control" type="email">
        <label for="password" class="col-md-2 col-form-label">Password</label>
        <input class="form-control" type="password">
        <button class="btn btn-sm btn-outline-warning ml-2" type="submit">Login</button>
    </form>
</nav>

<app-register></app-register>
<router-outlet></router-outlet>