<div style="float:left;margin-top:150px">
    <img src="./assets/computer.png" alt="computer" style="width:500px;height:500px;margin-left:50px">
</div>
<section style="float: right;margin-right: 300px;margin-top:150px">
    <h1 style="text-align: center;">SIGN UP</h1><br>
    <form>
        <div class="form-group row ml-1">
            <label for="fname" class="col-sm-4 col-form-label">FirstName</label>
            <div class="col-md-7">
                <input type="text" class="form-control" id="fname" placeholder="Enter your firstname" ngModel><br>
            </div>
        </div>
        <div class="form-group row ml-1">
            <label for="lname" class="col-sm-4 col-form-label">LastName</label>
            <div class="col-md-7">
                <input type="text" class="form-control" id="lname" placeholder="Enter your lastname" ngModel><br>
            </div>
        </div>
        <div class="form-group row ml-1">
            <label for="password" class="col-sm-4 col-form-label col-ml-3">Password</label>
            <div class="col-md-7">
                <input type="password" class="form-control" id="password" placeholder="Password" ngModel><br>
            </div>
        </div>
        <div class="form-group row ml-1">
            <label for="conpassword" class="col-sm-4 col-form-label col-ml-3">ConfirmPassword</label>
            <div class="col-md-7">
                <input type="password" class="form-control" id="conpassword" placeholder="Password" ngModel><br>
            </div>
        </div>
        <div class="col-md-2 offset-4">
            <button type="submit" class="btn btn-secondary">Submit</button>
        </div>
    </form>
    <hr>
    <footer style="text-align: center;">
        <p><i class="fa fa-copyright"></i>2020 All rights reserved</p>
    </footer>
</section>

